{% extends '@layout/default.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-6 col-md-5 col-md-offset-3">
            <h3>Account settings</h3>

            {{ flashMessagesPartial('partial::alerts') }}



        </div>
    </div>

{% endblock %}