{% extends '@layout/default.html.twig' %}

{% block title %}Sign-In{% endblock %}

{% block flash_messages %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-6 col-md-5 col-md-offset-3">

            <h3>Please sign in</h3>

            {% include '@partial/flashmessages.html.twig' %}

            <form method="post" >
                <div class="form-group">
                    <input type="text" name="identity" class="form-control" placeholder="Username or email..." value="{{ identity }}" required autofocus />
                </div>
                <div class="form-group">
                    <input type="password" name="credential" class="form-control" placeholder="Password..." required />
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="remember"> Remember Me
                    </label>
                </div>
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign In">
                <div style="margin-top: 5px;">
                    <a href="/forgot-password" >Forgot Password?</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}