{% extends '@layout/default.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-6 col-md-5 col-md-offset-3">

            <h3>Forgot your password?</h3>

            {{ flashMessagesPartial('partial::alerts') }}

            <form method="post" name="forgot-password" role="form">
                <div class="form-group">
                    <label for="emailAddress">Email address you registered with</label>
                    <input type="email" name="email" placeholder="Email Address" class="form-control" />
                </div>
                <input type="submit" value="Reset password" class="btn btn-primary btn-lg" />
            </form>

        </div>
    </div>

{% endblock %}