{% extends '@layout/default.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-6 col-md-5 col-md-offset-3">

            <h3>Reset account password</h3>

            {{ flashMessagesPartial('partial::alerts') }}

            {% include '@dk-user/_form.html.twig' %}

        </div>
    </div>

{% endblock %}