{% set classes = {'error': 'danger', 'info': 'sd', 'warning': 'sd'} %}

{% for namespace in messages|keys %}
<div class="alert alert-{{ classes[namespace] }}" role="alert">
    <ul>
        {% for message in messages[namespace] %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endfor %}